<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.pointMapper">


	<update id="updatePoint">
		UPDATE USER_INFO
	       SET USER_POINT=#{userPoint}
	     WHERE USER_ID	  =#{userId}
	</update>










</mapper>